
@{
    ViewBag.Title = "MainMenue";
}

<h2>MainMenue</h2>

<button type="button" class="btn-warning form-control" onclick="tic()">立即注册</button>
<script src="~/Scripts/Mhjs/MyAjax.js"></script>
<script>

    function tic() {
        //$.ajax({
        //    type: "POST",
        //    headers: {
        //        Accept: "application/json; charset=utf-8",
        //        userToken: "" + userToken
        //    },
        //    url: "/index",
        //    data: JSON.stringify(mytable.params),
        //    contentType: "application/json",
        //    dataType: "json",
        //    success: function (data) {

        //    }, error: function (data) {
      //  http://manager.api.com/Home/Demo
        //    }
        //});
     
        console.log(token)
        $.ajax({
            type: "get",
            url: "http://localhost:52564/Home/Demo",
            data: { Id:1},
            contentType: "application/json",
            dataType: "json",
            //beforeSend: function (request) {
            //   // request.setRequestHeader('Authorization', 'Basic ' + $.cookie("userToken")); 
            //    request.setRequestHeader("token", token);
            //},
            success: function (data) {
              
                console.log(data)
                alert("////")
            },
           
        });        
    }
</script>

